process {
    publishDir = {"./results_extractorflow/$sid/$task.process"}
    scratch = true
    errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
    maxRetries = 3
    maxErrors = -1
    stageInMode = 'copy'
    stageOutMode = 'rsync'
    tag = { "$sid" }
    afterScript = 'sleep 1'
}

params {

  //**Output directory**//
  output_dir=false

  rois_folder="/JHU_template_GIN_dil/"
  filtering_lists_folder="/filtering_lists/"

  //**Loop**//
  loop_angle_threshold=360

  min_streaminline_lenght=20
  max_streaminline_lenght=100000

  //**Sides**//
  sides="L,R"

  cc_homotopic_pairs="AGWM,CingGWM,CuGWM,FuGWM,Hippo,IFGWM,Ins,IOGWM,ITGWM,LFOGWM,LGWM,MFGWM,MFOGWM,MOGWM,MTGWM,PHG,PoCGWM,PrCGWM,PrCuGWM,RGGWM,SFGWM,SMGWM,SOGWM,SPGWM,STGWM,T_pole_gwm"

  bg_lists="AGWM,CingGWM,CuGWM,ENT,FuGWM,Hippo,IFGWM,Ins,IOGWM,ITGWM,LFOGWM,LGWM,MFGWM,MFOGWM,MOGWM,MTGWM,PHG,PoCGWM,PrCGWM,PrCuGWM,RGGWM,SFGWM,SMGWM,SOGWM,SPGWM,STGWM,T_pole_gwm"
  bg_caud_lists="AGWM,CingGWM,IFGWM,Ins,ITGWM,LFOGWM,MFGWM,MFOGWM,MTGWM,PoCGWM,PrCGWM,PrCuGWM,RGGWM,SFGWM,SMGWM,SPGWM,STGWM,T_pole_gwm"

  asso_ventral_f_o_f_p_lists="O_ventral_f,P_ventral_f"

  asso_dorsal_f_o_f_t_lists="O_dorsal_f,T_dorsal_f"

  asso_ventral_f_t_lists="T_ventral_SFG,T_ventral_MFG,T_ventral_IFG,T_ventral_LFOG,T_ventral_MFOG,T_ventral_RG"
  asso_dorsal_f_p_lists="P_dorsal_IFG,P_dorsal_MFG,P_dorsal_MiscG,P_dorsal_PrCG,P_dorsal_SFG"

  asso_p_o_lists="P_O_PoCG,P_O_SPG,P_O_SMG,P_O_AG,P_O_PrCuG"
  asso_p_t_lists="P_T_PoCG,P_T_SPG,P_T_SMG,P_T_AG,P_T_PrCuG"
  asso_o_t_lists="O_T_STG,O_T_MTG,O_T_ITG,O_T_Tpole,O_T_FuG,O_T_MTL"
  asso_ins_lists="Ins_PrCG,Ins_SFG,Ins_MFG,Ins_IFG,Ins_FrOrbG,Ins_P,Ins_O,Ins_T,"

  asso_frontal_be_lists="SFG,MFG,IFG,PrCG,FrOrbG"
  asso_occipital_be_lists="MOG,SOG,IOG,CuG,LG"
  asso_parietal_be_lists="PoCG,SPG,AG,SMG,PrCuG"
  asso_temporal_be_lists="STG,MTG,ITG,FuG"
  seeds="JHU_MNI_AGWM_,JHU_MNI_CingGWM_,JHU_MNI_CuGWM_,JHU_MNI_FuGWM_,JHU_MNI_IFGWM_,JHU_MNI_Ins_,JHU_MNI_IOGWM_,JHU_MNI_ITGWM_,JHU_MNI_LFOGWM_,JHU_MNI_LGWM_,JHU_MNI_MFGWM_,JHU_MNI_MFOGWM_,JHU_MNI_MOGWM_,JHU_MNI_MTGWM_,JHU_MNI_PoCGWM_,JHU_MNI_PrCGWM_,JHU_MNI_PrCuGWM_,JHU_MNI_RGGWM_,JHU_MNI_SFGWM_,JHU_MNI_SMGWM_,JHU_MNI_SOGWM_,JHU_MNI_SPGWM_,JHU_MNI_STGWM_,JHU_MNI_T_pole_gwm_,JHU_MNI_Hippo_,JHU_MNI_PHG_"

  //**Filtering options**//
  mode{
    either_end="either_end"
    both_ends="both_ends"
    any="any"
  }

  criteria{
    exclude="exclude"
    include="include"
  }

  //**ATLAS**//
  atlas.cc="JHU_MNI_CC.nii.gz"
  atlas.dwm="JHU_MNI_all_DWM.nii.gz"
  atlas.brainstem="JHU_MNI_all_Brainstem.nii.gz"
  atlas.cerebellum="JHU_MNI_all_Cerebellum.nii.gz"
  atlas.CGM_SWM="JHU_MNI_all_CGM_SWM.nii.gz"
  atlas.JHU="JHU_MNI_all.nii.gz"
  atlas.midline="JHU_MNI_Midline.nii.gz"
  atlas.subcortical="JHU_MNI_all_Subcortical"
  atlas.allsubcortical="JHU_MNI_all_Subcortical.nii.gz"
  atlas.brainstemINF="JHU_MNI_brainstem_inf.nii.gz"
  atlas.ic="JHU_MNI_IC.nii.gz"
  atlas.allThal="JHU_MNI_all_Thal.nii.gz"
  atlas.allL="JHU_MNI_all_L.nii.gz"
  atlas.allR="JHU_MNI_all_R.nii.gz"
  atlas.all="JHU_MNI_all"
  atlas.CGM="JHU_MNI_all_CGM"
  atlas.SWM="JHU_MNI_all_SWM"
  atlas.DWM="JHU_MNI_all_DWM"
  atlas.frontal_side='JHU_MNI_Frontal_'
  atlas.parieto_temporo_occipital_side='JHU_MNI_ParietoTemporoOccipital_'
  atlas.fronto_parietal_side='JHU_MNI_FrontoParietal_'
  atlas.shell_limits='JHU_MNI_all_shell_limits_f.nii.gz'
  atlas.unc_no_ifof='JHU_MNI_UNC_no_IFOF_'
}

if(params.output_dir) {
    process.publishDir = {"$params.output_dir/$sid/$task.process"}
}

singularity.autoMounts = true

profiles {
    macos {
            process.scratch="/tmp"
    }
}
