process {
    publishDir = {"./results/$sid/$task.process"}
    scratch = true
    errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
    maxRetries = 3
    maxErrors = -1
    stageInMode = 'copy'
    stageOutMode = 'rsync'
    tag = { "$sid" }
    afterScript = 'sleep 1'
}

params {

  //**Output directory**//
  output_dir=false

  roisFolder="/JHU_template_GIN_dil/"
  filteringListsFolder="/filtering_lists/"

  //**Loop**//
  angle=360

  //**Sides**//
  sides="L,R"

  cc_homotopic_pairs="AGWM,CingGWM,CuGWM,FuGWM,Hippo,IFGWM,Ins,IOGWM,ITGWM,LFOGWM,LGWM,MFGWM,MFOGWM,MOGWM,MTGWM,PHG,PoCGWM,PrCGWM,PrCuGWM,RGGWM,SFGWM,SMGWM,SOGWM,SPGWM,STGWM,T_pole_gwm"

  assoLists="F_O_dorsal,F_O_dorsal,F_O_ventral,F_O_ventral,F_P_dorsal,F_P_dorsal,F_P_ventral,F_P_ventral,F_T_dorsal,F_T_dorsal,F_T_ventral,F_T_ventral"

  seeds="JHU_MNI_AGWM_,JHU_MNI_CingGWM_,JHU_MNI_CuGWM_,JHU_MNI_FuGWM_,JHU_MNI_IFGWM_,JHU_MNI_Ins_,JHU_MNI_IOGWM_,JHU_MNI_ITGWM_,JHU_MNI_LFOGWM_,JHU_MNI_LGWM_,JHU_MNI_MFGWM_,JHU_MNI_MFOGWM_,JHU_MNI_MOGWM_,JHU_MNI_MTGWM_,JHU_MNI_PoCGWM_,JHU_MNI_PrCGWM_,JHU_MNI_PrCuGWM_,JHU_MNI_RGGWM_,JHU_MNI_SFGWM_,JHU_MNI_SMGWM_,JHU_MNI_SOGWM_,JHU_MNI_SPGWM_,JHU_MNI_STGWM_,JHU_MNI_T_pole_gwm_,JHU_MNI_Hippo_,JHU_MNI_PHG_"

  //**Filtering options**//
   mode.either_end="either_end"
   mode.both_ends="both_ends"
   mode.any="any"
   criteria.exclude="exclude"
   criteria.include="include"

   //**ATLAS**//
   atlas.ventricules="JHU_MNI_Ventricles.nii.gz"
   atlas.cc="JHU_MNI_CC.nii.gz"
   atlas.ccSide="JHU_MNI_CC"
   atlas.ccL="JHU_MNI_CC_L.nii.gz"
   atlas.ccR="JHU_MNI_CC_R.nii.gz"
   atlas.dwm="JHU_MNI_all_DWM.nii.gz"
   atlas.brainstem="JHU_MNI_all_Brainstem.nii.gz"
   atlas.cerebellum="JHU_MNI_all_Cerebellum.nii.gz"
   atlas.CGMSWM="JHU_MNI_all_CGM_SWM.nii.gz"
   atlas.CGMSWMSide="JHU_MNI_all_CGM_SWM"
   atlas.CGMSWMR="JHU_MNI_all_CGM_SWM_R.nii.gz"
   atlas.CGMSWML="JHU_MNI_all_CGM_SWM_L.nii.gz"
   atlas.JHU="JHU_MNI_all.nii.gz"
   atlas.midline="JHU_MNI_Midline.nii.gz"
   atlas.subcortical="JHU_MNI_all_Subcortical"
   atlas.allsubcortical="JHU_MNI_all_Subcortical.nii.gz"
   atlas.brainstemINF="JHU_MNI_brainstem_inf.nii.gz"
   atlas.ic="JHU_MNI_IC.nii.gz"
   atlas.allThal="JHU_MNI_all_Thal.nii.gz"
   atlas.allL="JHU_MNI_all_L.nii.gz"
   atlas.allR="JHU_MNI_all_R.nii.gz"
   atlas.all="JHU_MNI_all"
   atlas.CGM="JHU_MNI_all_CGM"
   atlas.SWM="JHU_MNI_all_SWM"
   atlas.DWM="JHU_MNI_all_DWM"
   atlas.cerebellumGWM ="JHU_MNI_CerebellumGWM.nii.gz"
   atlas.medulla='JHU_MNI_Medulla.nii.gz'
   atlas.midbrainNoSCP='JHU_MNI_Midbrain_notSCP.nii.gz'
   atlas.thalCPMidBrain='JHU_MNI_Thal_CP_Midbrain.nii.gz'
   atlas.MCPant='JHU_MNI_MCP_ant.nii.gz'
   atlas.CGMSWMDWM='JHU_MNI_all_CGM_SWM_DWM.nii.gz'
   atlas.pons='JHU_MNI_all_Pons.nii.gz'
   atlas.thalCPMedulla='JHU_MNI_Thal_CP_Medulla.nii.gz'
   atlas.BGICCPMCPantMedulla='JHU_MNI_BG_IC_CP_MCPant_Medulla.nii.gz'
   atlas.CGMSWMsubcortical='JHU_MNI_all_CGM_SWM_Subcortical.nii.gz'
   atlas.midbrain='JHU_MNI_Midbrain.nii.gz'
   atlas.CP='JHU_MNI_CP.nii.gz'
   atlas.PutCdGPAmySNr='JHU_MNI_Put_Cd_GP_Amyg_SNr.nii.gz'

   atlas.frontal='JHU_MNI_Frontal.nii.gz'
   atlas.parietotemporooccipital='JHU_MNI_ParietoTemporoOccipital.nii.gz'
   atlas.frontoparietal='JHU_MNI_FrontoParietal.nii.gz'

   atlas.shell_limits='JHU_MNI_all_shell_limits_f.nii.gz'

   atlas.JHU_MNI_IFGWM_L='JHU_MNI_IFGWM_L'
   atlas.JHU_MNI_IFGWM_R='JHU_MNI_IFGWM_R'
   atlas.JHU_MNI_IFGWM='JHU_MNI_IFGWM_'

   atlas.JHU_MNI_SFGWM_L='JHU_MNI_SFGWM_L'
   atlas.JHU_MNI_SFGWM_R='JHU_MNI_SFGWM_R'
   atlas.JHU_MNI_SFGWM='JHU_MNI_SFGWM_'

   atlas.JHU_MNI_SMGWM_L='JHU_MNI_SMGWM_L'
   atlas.JHU_MNI_SMGWM_R='JHU_MNI_SMGWM_R'
   atlas.JHU_MNI_SMGWM='JHU_MNI_SMGWM_'

   atlas.JHU_MNI_STGWM_L='JHU_MNI_STGWM_L'
   atlas.JHU_MNI_STGWM_R='JHU_MNI_STGWM_R'
   atlas.JHU_MNI_STGWM='JHU_MNI_STGWM_'

   atlas.JHU_MNI_SPGWM_L='JHU_MNI_SPGWM_L'
   atlas.JHU_MNI_SPGWM_R='JHU_MNI_SPGWM_R'
   atlas.JHU_MNI_SPGWM='JHU_MNI_SPGWM_'

   atlas.JHU_MNI_PrCGWM_L='JHU_MNI_PrCGWM_L'
   atlas.JHU_MNI_PrCGWM_R='JHU_MNI_PrCGWM_R'
   atlas.JHU_MNI_PrCGWM='JHU_MNI_PrCGWM_'

   atlas.JHU_MNI_PrCuGWM_L='JHU_MNI_PrCuGWM_L'
   atlas.JHU_MNI_PrCuGWM_R='JHU_MNI_PrCuGWM_R'
   atlas.JHU_MNI_PrCuGWM='JHU_MNI_PrCuGWM_'

   atlas.JHU_MNI_PoCGWM_L='JHU_MNI_PoCGWM_L'
   atlas.JHU_MNI_PoCGWM_R='JHU_MNI_PoCGWM_R'
   atlas.JHU_MNI_PoCGWM='JHU_MNI_PoCGWM_'
   atlas.JHU_MNI_PoCGWM_all='JHU_MNI_PoCGWM.nii.gz'

   atlas.JHU_MNI_SLF_L='JHU_MNI_SLF_L'
   atlas.JHU_MNI_SLF_R='JHU_MNI_SLF_R'
   atlas.JHU_MNI_SLF='JHU_MNI_SLF_'

   atlas.JHU_MNI_SOGWM_L='JHU_MNI_SOGWM_L'
   atlas.JHU_MNI_SOGWM_R='JHU_MNI_SOGWM_R'
   atlas.JHU_MNI_SOGWM='JHU_MNI_SOGWM_'

   atlas.JHU_MNI_MOGWM_L='JHU_MNI_MOGWM_L'
   atlas.JHU_MNI_MOGWM_R='JHU_MNI_MOGWM_R'
   atlas.JHU_MNI_MOGWM='JHU_MNI_MOGWM_'

   atlas.JHU_MNI_MTGWM_L='JHU_MNI_MTGWM_L'
   atlas.JHU_MNI_MTGWM_R='JHU_MNI_MTGWM_R'
   atlas.JHU_MNI_MTGWM='JHU_MNI_MTGWM_'

   atlas.JHU_MNI_CuGWM_L='JHU_MNI_CuGWM_L'
   atlas.JHU_MNI_CuGWM_R='JHU_MNI_CuGWM_R'
   atlas.JHU_MNI_CuGWM='JHU_MNI_CuGWM_'

   atlas.JHU_MNI_CR_L='JHU_MNI_CR_L'
   atlas.JHU_MNI_CR_R='JHU_MNI_CR_R'
   atlas.JHU_MNI_CR='JHU_MNI_CR_'

   atlas.JHU_MNI_LGWM_L='JHU_MNI_LGWM_L'
   atlas.JHU_MNI_LGWM_R='JHU_MNI_LGWM_R'
   atlas.JHU_MNI_LGWM='JHU_MNI_LGWM_'

   atlas.JHU_MNI_AGWM_L='JHU_MNI_AGWM_L'
   atlas.JHU_MNI_AGWM_R='JHU_MNI_AGWM_R'
   atlas.JHU_MNI_AGWM='JHU_MNI_AGWM_'

   atlas.JHU_MNI_SCR_L='JHU_MNI_SCR_L'
   atlas.JHU_MNI_SCR_R='JHU_MNI_SCR_R'
   atlas.JHU_MNI_SCR='JHU_MNI_SCR_'

   atlas.JHU_MNI_IOGWM_L='JHU_MNI_IOGWM_L'
   atlas.JHU_MNI_IOGWM_R='JHU_MNI_IOGWM_R'
   atlas.JHU_MNI_IOGWM='JHU_MNI_IOGWM_'

   atlas.JHU_MNI_EN_L='JHU_MNI_EN_L'
   atlas.JHU_MNI_EN_R='JHU_MNI_EN_R'
   atlas.JHU_MNI_EN='JHU_MNI_EN_'

   atlas.JHU_MNI_EC_full_L='JHU_MNI_EC_full_L'
   atlas.JHU_MNI_EC_full_R='JHU_MNI_EC_full_R'
   atlas.JHU_MNI_EC_full='JHU_MNI_EC_full'

   atlas.JHU_MNI_MFGWM_L='JHU_MNI_MFGWM_L'
   atlas.JHU_MNI_MFGWM_R='JHU_MNI_MFGWM_R'
   atlas.JHU_MNI_MFGWM='JHU_MNI_MFGWM_'

   atlas.JHU_MNI_FrOrbGWM_L='JHU_MNI_FrOrbGWM_L'
   atlas.JHU_MNI_FrOrbGWM_R='JHU_MNI_FrOrbGWM_R'
   atlas.JHU_MNI_FrOrbGWM='JHU_MNI_FrOrbGWM_'

   atlas.JHU_MNI_CingGWM_L='JHU_MNI_CingGWM_L'
   atlas.JHU_MNI_CingGWM_R='JHU_MNI_CingGWM_R'
   atlas.JHU_MNI_CingGWM='JHU_MNI_CingGWM_'

   atlas.JHU_MNI_Ins_L='JHU_MNI_Ins_L'
   atlas.JHU_MNI_Ins_R='JHU_MNI_Ins_R'
   atlas.JHU_MNI_Ins='JHU_MNI_Ins_'

   atlas.JHU_MNI_PTR_L='JHU_MNI_PTR_L'
   atlas.JHU_MNI_PTR_R='JHU_MNI_PTR_R'
   atlas.JHU_MNI_PTR='JHU_MNI_PTR_'

   atlas.JHU_MNI_PHG_L='JHU_MNI_PHG_L'
   atlas.JHU_MNI_PHG_R='JHU_MNI_PHG_R'
   atlas.JHU_MNI_PHG='JHU_MNI_PHG_'

   atlas.JHU_MNI_ITGWM_L='JHU_MNI_ITGWM_L'
   atlas.JHU_MNI_ITGWM_R='JHU_MNI_ITGWM_R'
   atlas.JHU_MNI_ITGWM='JHU_MNI_ITGWM_'

   atlas.JHU_MNI_FuGWM_L='JHU_MNI_FuGWM_L'
   atlas.JHU_MNI_FuGWM_R='JHU_MNI_FuGWM_R'
   atlas.JHU_MNI_FuGWM='JHU_MNI_FuGWM_'

   atlas.JHU_MNI_SS_L='JHU_MNI_SS_L'
   atlas.JHU_MNI_SS_R='JHU_MNI_SS_R'
   atlas.JHU_MNI_SS='JHU_MNI_SS_'

   atlas.JHU_MNI_T_pole_gwm_L='JHU_MNI_T_pole_gwm_L'
   atlas.JHU_MNI_T_pole_gwm_R='JHU_MNI_T_pole_gwm_R'
   atlas.JHU_MNI_T_pole_gwm='JHU_MNI_T_pole_gwm_'

   atlas.JHU_MNI_SCC='JHU_MNI_SCC.nii.gz'

   atlas.GCC='JHU_MNI_GCC.nii.gz'
   atlas.BCC='JHU_MNI_BCC.nii.gz'
   atlas.SCC='JHU_MNI_SCC.nii.gz'

   atlas.cutGCCMFG='JHU_MNI_cut_GCC_MFG.nii.gz'
   atlas.cutGCCFrOrb='JHU_MNI_cut_GCC_FrOrb.nii.gz'
   atlas.cutGCCCingC='JHU_MNI_cut_GCC_CingG.nii.gz'
   atlas.cutBCCSFG='JHU_MNI_cut_BCC_SFG.nii.gz'
   atlas.cutGCCSFG='JHU_MNI_cut_GCC_SFG.nii.gz'
   atlas.cutBCCCingC='JHU_MNI_cut_BCC_CingG.nii.gz'
   atlas.cutBCCPrCG='JHU_MNI_cut_BCC_PrCG.nii.gz'
   atlas.cutSCCCingC='JHU_MNI_cut_SCC_CingG.nii.gz'
   atlas.cutSCCMOG='JHU_MNI_cut_SCC_MOG.nii.gz'
   atlas.cutSCCSPG='JHU_MNI_cut_SCC_SPG.nii.gz'
   atlas.cutSCCSTG='JHU_MNI_cut_SCC_STG.nii.gz'
   atlas.cutSCCSTG='JHU_MNI_cut_SCC_ITG.nii.gz'
   atlas.cutBCCMFG='JHU_MNI_cut_BCC_MFG.nii.gz'


   atlas.avoidCCIFGHomo='JHU_MNI_avoid_CC_IFG_homotopic.nii.gz'
   atlas.avoidCCMFGHomo='JHU_MNI_avoid_CC_MFG_homotopic.nii.gz'
   atlas.avoidCCSFGHomo='JHU_MNI_avoid_CC_SFG_homotopic.nii.gz'
   atlas.avoidGCCCingGHomo='JHU_MNI_avoid_GCC_CingG_homotopic.nii.gz'
   atlas.avoidSCCCingGHomo='JHU_MNI_avoid_SCC_CingG_homotopic.nii.gz'
   atlas.avoidBCCPrCGGHomo='JHU_MNI_avoid_BCC_PrCG_homotopic.nii.gz'
   atlas.avoidBCCPoCGHomo='JHU_MNI_avoid_BCC_PoCG_homotopic.nii.gz'
   atlas.avoidSCCPoCGHomo='JHU_MNI_avoid_SCC_PoCG_homotopic.nii.gz'
   atlas.avoidSCCPrCuHomo='JHU_MNI_avoid_SCC_PrCu_homotopic.nii.gz'
   atlas.avoidSCCSOGHomo='JHU_MNI_avoid_SCC_SOG_homotopic.nii.gz'
   atlas.avoidSCCMOGHomo='JHU_MNI_avoid_SCC_MOG_homotopic.nii.gz'
   atlas.avoidSCCCuHomo='JHU_MNI_avoid_SCC_Cu_homotopic.nii.gz'
   atlas.avoidSCCLGHomo='JHU_MNI_avoid_SCC_LG_homotopic.nii.gz'
   atlas.avoidSCCIOGHomo='JHU_MNI_avoid_SCC_IOG_homotopic.nii.gz'
   atlas.avoidSCCAGHomo='JHU_MNI_avoid_SCC_AG_homotopic.nii.gz'
   atlas.avoidBCCAGHomo='JHU_MNI_avoid_BCC_SMG_homotopic.nii.gz'
   atlas.avoidSCCSTGHomo='JHU_MNI_avoid_SCC_STG_homotopic.nii.gz'
   atlas.avoidSCCMTGHomo='JHU_MNI_avoid_SCC_MTG_homotopic.nii.gz'
   atlas.avoidSCCFuGHomo='JHU_MNI_avoid_SCC_FuG_homotopic.nii.gz'
   atlas.avoidSCCSMGHomo='JHU_MNI_avoid_SCC_SMG_homotopic.nii.gz'
   atlas.avoidBCCSMGHomo='JHU_MNI_avoid_BCC_SMG_homotopic.nii.gz'
   atlas.avoidSCCSPGHomo='JHU_MNI_avoid_SCC_SPG_homotopic.nii.gz'


  //**EXTENSIONS**//
  ext.ventricules="all_in_Ventricles"
  ext.cc="all_in_JHU_CC"
  ext.dwm="all_in_JHU_DWM"
  ext.cerebellum="all_cereb"
  ext.brainstem="all_brainstem"
  ext.outJHU="ends_out_JHU"
  ext.CGMSWM="no_CGM_SWM"
  ext.tmpCC="tmp_CC"
  ext.notUsed="notUsed"
  ext.asso_noBG="asso_noBG"

}

if(params.output_dir) {
    process.publishDir = {"$params.output_dir/$sid/$task.process"}
    params.Readme_Publish_Dir = "${params.output_dir}/Readme"
}

singularity.autoMounts = true

profiles {
    macos {
            process.scratch="/tmp"
    }
}
