process {
    publishDir = {"./results_extractorflow/$sid/$task.process"}
    scratch = true
    errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
    maxRetries = 3
    maxErrors = -1
    stageInMode = 'copy'
    stageOutMode = 'rsync'
    tag = { "$sid" }
    afterScript = 'sleep 1'
}

params {

  //**Output directory**//
  output_dir=false

  rois_folder="/JHU_template_GIN_dil/"
  filtering_lists_folder="/filtering_lists/"

  //**Loop**//
  loop_angle_threshold=360

  min_streaminline_lenght=20
  max_streaminline_lenght=100000

  //**Sides**//
  sides="L,R"

  cc_homotopic_pairs="AGWM,CingGWM,CuGWM,FuGWM,Hippo,IFGWM,Ins,IOGWM,ITGWM,LFOGWM,LGWM,MFGWM,MFOGWM,MOGWM,MTGWM,PHG,PoCGWM,PrCGWM,PrCuGWM,RGGWM,SFGWM,SMGWM,SOGWM,SPGWM,STGWM,T_pole_gwm"

  bg_lists="AGWM,CingGWM,CuGWM,ENT,FuGWM,Hippo,IFGWM,Ins,IOGWM,ITGWM,LFOGWM,LGWM,MFGWM,MFOGWM,MOGWM,MTGWM,PHG,PoCGWM,PrCGWM,PrCuGWM,RGGWM,SFGWM,SMGWM,SOGWM,SPGWM,STGWM,T_pole_gwm"
  bg_caud_lists="AGWM,CingGWM,IFGWM,Ins,ITGWM,LFOGWM,MFGWM,MFOGWM,MTGWM,PoCGWM,PrCGWM,PrCuGWM,RGGWM,SFGWM,SMGWM,SPGWM,STGWM,T_pole_gwm"

  asso_ventral_f_o_f_p_lists="O_ventral_f,P_ventral_f"

  asso_dorsal_f_o_f_t_lists="O_dorsal_f,T_dorsal_f"

  asso_ventral_f_t_lists="T_ventral_SFG,T_ventral_MFG,T_ventral_IFG,T_ventral_LFOG,T_ventral_MFOG,T_ventral_RG"
  asso_dorsal_f_p_lists="P_dorsal_IFG,P_dorsal_MFG,P_dorsal_MiscG,P_dorsal_PrCG,P_dorsal_SFG"

  asso_p_o_lists="P_O_PoCG,P_O_SPG,P_O_SMG,P_O_AG,P_O_PrCuG"
  asso_p_t_lists="P_T_PoCG,P_T_SPG,P_T_SMG,P_T_AG,P_T_PrCuG"
  asso_o_t_lists="O_T_STG,O_T_MTG,O_T_ITG,O_T_Tpole,O_T_FuG,O_T_MTL"
  asso_ins_lists="Ins_PrCG,Ins_SFG,Ins_MFG,Ins_IFG,Ins_FrOrbG,Ins_P,Ins_O,Ins_T,"

  asso_frontal_be_lists="SFG,MFG,IFG,PrCG,FrOrbG"
  asso_occipital_be_lists="MOG,SOG,IOG,CuG,LG"
  asso_parietal_be_lists="PoCG,SPG,AG,SMG,PrCuG"
  asso_temporal_be_lists="STG,MTG,ITG,FuG"
  seeds="JHU_MNI_AGWM_,JHU_MNI_CingGWM_,JHU_MNI_CuGWM_,JHU_MNI_FuGWM_,JHU_MNI_IFGWM_,JHU_MNI_Ins_,JHU_MNI_IOGWM_,JHU_MNI_ITGWM_,JHU_MNI_LFOGWM_,JHU_MNI_LGWM_,JHU_MNI_MFGWM_,JHU_MNI_MFOGWM_,JHU_MNI_MOGWM_,JHU_MNI_MTGWM_,JHU_MNI_PoCGWM_,JHU_MNI_PrCGWM_,JHU_MNI_PrCuGWM_,JHU_MNI_RGGWM_,JHU_MNI_SFGWM_,JHU_MNI_SMGWM_,JHU_MNI_SOGWM_,JHU_MNI_SPGWM_,JHU_MNI_STGWM_,JHU_MNI_T_pole_gwm_,JHU_MNI_Hippo_,JHU_MNI_PHG_"

  //**Filtering options**//
  mode{
    either_end="either_end"
    both_ends="both_ends"
    any="any"
  }

  criteria{
  exclude="exclude"
  include="include"
  }

   //**ATLAS**//
   atlas.ventricules="JHU_MNI_Ventricles.nii.gz"
   atlas.cc="JHU_MNI_CC.nii.gz"
   atlas.ccSide="JHU_MNI_CC"
   atlas.ccL="JHU_MNI_CC_L.nii.gz"
   atlas.ccR="JHU_MNI_CC_R.nii.gz"
   atlas.dwm="JHU_MNI_all_DWM.nii.gz"
   atlas.brainstem="JHU_MNI_all_Brainstem.nii.gz"
   atlas.cerebellum="JHU_MNI_all_Cerebellum.nii.gz"
   atlas.CGM_SWM="JHU_MNI_all_CGM_SWM.nii.gz"
   atlas.CGM_SWM_side="JHU_MNI_all_CGM_SWM"
   atlas.CGM_SWM_R="JHU_MNI_all_CGM_SWM_R.nii.gz"
   atlas.CGM_SWM_L="JHU_MNI_all_CGM_SWM_L.nii.gz"
   atlas.JHU="JHU_MNI_all.nii.gz"
   atlas.midline="JHU_MNI_Midline.nii.gz"
   atlas.subcortical="JHU_MNI_all_Subcortical"
   atlas.allsubcortical="JHU_MNI_all_Subcortical.nii.gz"
   atlas.brainstemINF="JHU_MNI_brainstem_inf.nii.gz"
   atlas.ic="JHU_MNI_IC.nii.gz"
   atlas.allThal="JHU_MNI_all_Thal.nii.gz"
   atlas.allL="JHU_MNI_all_L.nii.gz"
   atlas.allR="JHU_MNI_all_R.nii.gz"
   atlas.all="JHU_MNI_all"
   atlas.CGM="JHU_MNI_all_CGM"
   atlas.SWM="JHU_MNI_all_SWM"
   atlas.DWM="JHU_MNI_all_DWM"
   atlas.cerebellum_GWM ="JHU_MNI_CerebellumGWM.nii.gz"
   atlas.medulla='JHU_MNI_Medulla.nii.gz'
   atlas.midbrainNoSCP='JHU_MNI_Midbrain_notSCP.nii.gz'
   atlas.thal_CP_MidBrain='JHU_MNI_Thal_CP_Midbrain.nii.gz'
   atlas.MCPant='JHU_MNI_MCP_ant.nii.gz'
   atlas.CGM_SWM_DWM='JHU_MNI_all_CGM_SWM_DWM.nii.gz'
   atlas.pons='JHU_MNI_all_Pons.nii.gz'
   atlas.thal_CP_Medulla='JHU_MNI_Thal_CP_Medulla.nii.gz'
   atlas.BG_IC_CP_MCPant_Medulla='JHU_MNI_BG_IC_CP_MCPant_Medulla.nii.gz'
   atlas.CGM_SWM_subcortical='JHU_MNI_all_CGM_SWM_Subcortical.nii.gz'
   atlas.midbrain='JHU_MNI_Midbrain.nii.gz'
   atlas.CP='JHU_MNI_CP.nii.gz'
   atlas.Put_Cd_GP_Amyg_SNr='JHU_MNI_Put_Cd_GP_Amyg_SNr.nii.gz'

   atlas.frontal='JHU_MNI_Frontal.nii.gz'
   atlas.frontal_side='JHU_MNI_Frontal_'
   atlas.parieto_temporo_occipital='JHU_MNI_ParietoTemporoOccipital.nii.gz'
   atlas.parieto_temporo_occipital_side='JHU_MNI_ParietoTemporoOccipital_'
   atlas.fronto_parietal='JHU_MNI_FrontoParietal.nii.gz'
   atlas.fronto_parietal_side='JHU_MNI_FrontoParietal_'

   atlas.shell_limits='JHU_MNI_all_shell_limits_f.nii.gz'

   atlas.IFGWM_L='JHU_MNI_IFGWM_L'
   atlas.IFGWM_R='JHU_MNI_IFGWM_R'
   atlas.IFGWM='JHU_MNI_IFGWM_'

   atlas.SFGWM_L='JHU_MNI_SFGWM_L'
   atlas.SFGWM_R='JHU_MNI_SFGWM_R'
   atlas.SFGWM='JHU_MNI_SFGWM_'

   atlas.SMGWM_L='JHU_MNI_SMGWM_L'
   atlas.SMGWM_R='JHU_MNI_SMGWM_R'
   atlas.SMGWM='JHU_MNI_SMGWM_'

   atlas.STGWM_L='JHU_MNI_STGWM_L'
   atlas.STGWM_R='JHU_MNI_STGWM_R'
   atlas.STGWM='JHU_MNI_STGWM_'

   atlas.SPGWM_L='JHU_MNI_SPGWM_L'
   atlas.SPGWM_R='JHU_MNI_SPGWM_R'
   atlas.SPGWM='JHU_MNI_SPGWM_'

   atlas.PrCGWM_L='JHU_MNI_PrCGWM_L'
   atlas.PrCGWM_R='JHU_MNI_PrCGWM_R'
   atlas.PrCGWM='JHU_MNI_PrCGWM_'

   atlas.PrCuGWM_L='JHU_MNI_PrCuGWM_L'
   atlas.PrCuGWM_R='JHU_MNI_PrCuGWM_R'
   atlas.PrCuGWM='JHU_MNI_PrCuGWM_'

   atlas.PoCGWM_L='JHU_MNI_PoCGWM_L'
   atlas.PoCGWM_R='JHU_MNI_PoCGWM_R'
   atlas.PoCGWM='JHU_MNI_PoCGWM_'
   atlas.PoCGWM_all='JHU_MNI_PoCGWM.nii.gz'

   atlas.SLF_L='JHU_MNI_SLF_L'
   atlas.SLF_R='JHU_MNI_SLF_R'
   atlas.SLF='JHU_MNI_SLF_'

   atlas.SOGWM_L='JHU_MNI_SOGWM_L'
   atlas.SOGWM_R='JHU_MNI_SOGWM_R'
   atlas.SOGWM='JHU_MNI_SOGWM_'

   atlas.MOGWM_L='JHU_MNI_MOGWM_L'
   atlas.MOGWM_R='JHU_MNI_MOGWM_R'
   atlas.MOGWM='JHU_MNI_MOGWM_'

   atlas.MTGWM_L='JHU_MNI_MTGWM_L'
   atlas.MTGWM_R='JHU_MNI_MTGWM_R'
   atlas.MTGWM='JHU_MNI_MTGWM_'

   atlas.CuGWM_L='JHU_MNI_CuGWM_L'
   atlas.CuGWM_R='JHU_MNI_CuGWM_R'
   atlas.CuGWM='JHU_MNI_CuGWM_'

   atlas.CR_L='JHU_MNI_CR_L'
   atlas.CR_R='JHU_MNI_CR_R'
   atlas.CR='JHU_MNI_CR_'

   atlas.LGWM_L='JHU_MNI_LGWM_L'
   atlas.LGWM_R='JHU_MNI_LGWM_R'
   atlas.LGWM='JHU_MNI_LGWM_'

   atlas.AGWM_L='JHU_MNI_AGWM_L'
   atlas.AGWM_R='JHU_MNI_AGWM_R'
   atlas.AGWM='JHU_MNI_AGWM_'

   atlas.SCR_L='JHU_MNI_SCR_L'
   atlas.SCR_R='JHU_MNI_SCR_R'
   atlas.SCR='JHU_MNI_SCR_'

   atlas.IOGWM_L='JHU_MNI_IOGWM_L'
   atlas.IOGWM_R='JHU_MNI_IOGWM_R'
   atlas.IOGWM='JHU_MNI_IOGWM_'

   atlas.EN_L='JHU_MNI_EN_L'
   atlas.EN_R='JHU_MNI_EN_R'
   atlas.EN='JHU_MNI_EN_'

   atlas.EC_full_L='JHU_MNI_EC_full_L'
   atlas.EC_full_R='JHU_MNI_EC_full_R'
   atlas.EC_full='JHU_MNI_EC_full'

   atlas.MFGWM_L='JHU_MNI_MFGWM_L'
   atlas.MFGWM_R='JHU_MNI_MFGWM_R'
   atlas.MFGWM='JHU_MNI_MFGWM_'

   atlas.FrOrbGWM_L='JHU_MNI_FrOrbGWM_L'
   atlas.FrOrbGWM_R='JHU_MNI_FrOrbGWM_R'
   atlas.FrOrbGWM='JHU_MNI_FrOrbGWM_'

   atlas.CingGWM_L='JHU_MNI_CingGWM_L'
   atlas.CingGWM_R='JHU_MNI_CingGWM_R'
   atlas.CingGWM='JHU_MNI_CingGWM_'

   atlas.Ins_L='JHU_MNI_Ins_L'
   atlas.Ins_R='JHU_MNI_Ins_R'
   atlas.Ins='JHU_MNI_Ins_'

   atlas.PTR_L='JHU_MNI_PTR_L'
   atlas.PTR_R='JHU_MNI_PTR_R'
   atlas.PTR='JHU_MNI_PTR_'

   atlas.PHG_L='JHU_MNI_PHG_L'
   atlas.PHG_R='JHU_MNI_PHG_R'
   atlas.PHG='JHU_MNI_PHG_'

   atlas.ITGWM_L='JHU_MNI_ITGWM_L'
   atlas.ITGWM_R='JHU_MNI_ITGWM_R'
   atlas.ITGWM='JHU_MNI_ITGWM_'

   atlas.FuGWM_L='JHU_MNI_FuGWM_L'
   atlas.FuGWM_R='JHU_MNI_FuGWM_R'
   atlas.FuGWM='JHU_MNI_FuGWM_'

   atlas.SS_L='JHU_MNI_SS_L'
   atlas.SS_R='JHU_MNI_SS_R'
   atlas.SS='JHU_MNI_SS_'

   atlas.T_pole_gwm_L='JHU_MNI_T_pole_gwm_L'
   atlas.T_pole_gwm_R='JHU_MNI_T_pole_gwm_R'
   atlas.T_pole_gwm='JHU_MNI_T_pole_gwm_'

   atlas.SCC='JHU_MNI_SCC.nii.gz'

   atlas.GCC='JHU_MNI_GCC.nii.gz'
   atlas.BCC='JHU_MNI_BCC.nii.gz'
   atlas.SCC='JHU_MNI_SCC.nii.gz'

   atlas.cut_GCC_MFG='JHU_MNI_cut_GCC_MFG.nii.gz'
   atlas.cut_GCC_FrOrb='JHU_MNI_cut_GCC_FrOrb.nii.gz'
   atlas.cut_GCC_CingC='JHU_MNI_cut_GCC_CingG.nii.gz'
   atlas.cut_BCC_SFG='JHU_MNI_cut_BCC_SFG.nii.gz'
   atlas.cut_GCC_SFG='JHU_MNI_cut_GCC_SFG.nii.gz'
   atlas.cut_BCC_CingC='JHU_MNI_cut_BCC_CingG.nii.gz'
   atlas.cut_BCC_PrCG='JHU_MNI_cut_BCC_PrCG.nii.gz'
   atlas.cut_SCC_CingC='JHU_MNI_cut_SCC_CingG.nii.gz'
   atlas.cut_SCC_MOG='JHU_MNI_cut_SCC_MOG.nii.gz'
   atlas.cut_SCC_SPG='JHU_MNI_cut_SCC_SPG.nii.gz'
   atlas.cut_SCC_STG='JHU_MNI_cut_SCC_STG.nii.gz'
   atlas.cut_SCC_STG='JHU_MNI_cut_SCC_ITG.nii.gz'
   atlas.cut_BCC_MFG='JHU_MNI_cut_BCC_MFG.nii.gz'


   atlas.avoid_CC_IFG_Homo='JHU_MNI_avoid_CC_IFG_homotopic.nii.gz'
   atlas.avoid_CC_MFG_Homo='JHU_MNI_avoid_CC_MFG_homotopic.nii.gz'
   atlas.avoid_CC_SFG_Homo='JHU_MNI_avoid_CC_SFG_homotopic.nii.gz'
   atlas.avoid_GCC_CingG_Homo='JHU_MNI_avoid_GCC_CingG_homotopic.nii.gz'
   atlas.avoid_SCC_CingG_Homo='JHU_MNI_avoid_SCC_CingG_homotopic.nii.gz'
   atlas.avoid_BCC_PrCGG_Homo='JHU_MNI_avoid_BCC_PrCG_homotopic.nii.gz'
   atlas.avoid_BCC_PoCG_Homo='JHU_MNI_avoid_BCC_PoCG_homotopic.nii.gz'
   atlas.avoid_SCC_PoCG_Homo='JHU_MNI_avoid_SCC_PoCG_homotopic.nii.gz'
   atlas.avoid_SCC_PrCu_Homo='JHU_MNI_avoid_SCC_PrCu_homotopic.nii.gz'
   atlas.avoid_SCC_SOG_Homo='JHU_MNI_avoid_SCC_SOG_homotopic.nii.gz'
   atlas.avoid_SCC_MOG_Homo='JHU_MNI_avoid_SCC_MOG_homotopic.nii.gz'
   atlas.avoid_SCC_Cu_Homo='JHU_MNI_avoid_SCC_Cu_homotopic.nii.gz'
   atlas.avoid_SCC_LG_Homo='JHU_MNI_avoid_SCC_LG_homotopic.nii.gz'
   atlas.avoid_SCC_IOG_Homo='JHU_MNI_avoid_SCC_IOG_homotopic.nii.gz'
   atlas.avoid_SCC_AG_Homo='JHU_MNI_avoid_SCC_AG_homotopic.nii.gz'
   atlas.avoid_BCC_AG_Homo='JHU_MNI_avoid_BCC_SMG_homotopic.nii.gz'
   atlas.avoid_SCC_STG_Homo='JHU_MNI_avoid_SCC_STG_homotopic.nii.gz'
   atlas.avoid_SCC_MTG_Homo='JHU_MNI_avoid_SCC_MTG_homotopic.nii.gz'
   atlas.avoid_SCC_FuG_Homo='JHU_MNI_avoid_SCC_FuG_homotopic.nii.gz'
   atlas.avoid_SCC_SMG_Homo='JHU_MNI_avoid_SCC_SMG_homotopic.nii.gz'
   atlas.avoid_BCC_SMG_Homo='JHU_MNI_avoid_BCC_SMG_homotopic.nii.gz'
   atlas.avoid_SCC_SPG_Homo='JHU_MNI_avoid_SCC_SPG_homotopic.nii.gz'

   atlas.unc_no_ifof='JHU_MNI_UNC_no_IFOF_'

   atlas.parietotemporooccipital='JHU_MNI_ParietoTemporoOccipital.nii.gz'
   atlas.frontoparietal='JHU_MNI_FrontoParietal.nii.gz'

  //**EXTENSIONS**//
  ext.ventricules="all_ventricules"
  ext.cc="all_cc"
  ext.dwm="all_dwm"
  ext.cerebellum="all_cerebellum"
  ext.brainstem="all_brainstem"
  ext.asso_noBG="asso_noBG"
}

if(params.output_dir) {
    process.publishDir = {"$params.output_dir/$sid/$task.process"}
}

singularity.autoMounts = true

profiles {
    macos {
            process.scratch="/tmp"
    }
}
